In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File to read
data = "../WeatherPy\output"

# Read Data File and store into Pandas DataFrames
weather_data = pd.read_csv(data)
weather_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,laguna,38.4210,-121.4238,59.31,67.0,0.0,10.36,US,1.670363e+09
1,1,aporawan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,dingle,10.9995,122.6711,74.41,92.0,41.0,7.34,PH,1.670363e+09
3,3,conway,35.0887,-92.4421,72.01,56.0,100.0,6.91,US,1.670363e+09
4,4,bethel,41.3712,-73.4140,54.52,82.0,100.0,3.44,US,1.670363e+09
...,...,...,...,...,...,...,...,...,...,...
599,599,anadyr,64.7500,177.4833,12.70,85.0,100.0,11.18,RU,1.670364e+09
600,600,surt,31.2089,16.5887,66.22,57.0,43.0,2.75,LY,1.670364e+09
601,601,kanniyakumari,8.0833,77.5667,78.26,73.0,100.0,10.56,IN,1.670364e+09
602,602,adrar,20.5022,-10.0711,77.94,28.0,0.0,7.63,MR,1.670364e+09
603,603,progreso,21.2833,-89.6667,87.12,66.0,3.0,17.56,MX,1.670364e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
len(weather_data)
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  604 non-null    int64
 1   City        604 non-null    object
 2   Lat         562 non-null    float64
 3   Lng         562 non-null    float64
 4   Max Temp    562 non-null    float64
 5   Humidity    562 non-null    float64
 6   Cloudiness  562 non-null    float64
 7   Wind Speed  562 non-null    float64
 8   Country     560 non-null    object
 9   Date        562 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 47.3+ KB

In [4]:
new = weather_data.dropna()

In [5]:
len(new)

560

In [6]:
# Configure gmaps with unique API key
gmaps.configure(api_key=g_key)

In [7]:
# Use the Lat and Lng as locations and Humidity as the weight.

subset = new[['Lat', 'Lng']]
coordinates = [tuple(x) for x in subset.to_numpy()]

In [13]:
# Customize the size of the figure

fig_1 = gmaps.figure(center = [0,0] ,zoom_level = 2)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig_1.add_layer(markers)
fig_1

Figure(layout=FigureLayout(height='420px'))

In [14]:
humidity = new["Humidity"].astype(float)

In [15]:
# Customize the size of the figure

# Plot Heatmap
fig_2 = gmaps.figure(center = [0,0] ,zoom_level = 2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity,
                               dissipating=False, max_intensity=50,
                               point_radius = 2)


# Add layer
fig_2.add_layer(heat_layer)

# Display figure
fig_2

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
# A max temperature higher than 80 degrees but lower than 100
# Wind speed less than 10 m/s
# Zero cloudiness

preferences = new.loc[(new['Cloudiness']<40) & (new['Max Temp']>=70) & (new['Max Temp']<=90) & (new['Wind Speed']<=10) ]
len(preferences)

45

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
#Create a new DataFrame called hotel_df to store the city, country, coordinates, and humidity.

hotel_df = preferences[['City', 'Country', 'Lat', 'Lng', 'Humidity']]
hotel_df

                    City Country      Lat       Lng  Humidity
29              cidreira      BR -30.1811  -50.2056      89.0
41                 pasni      PK  25.2631   63.4710      48.0
47                  chuy      UY -33.6971  -53.4616      77.0
49                   sur      OM  22.5667   59.5289      58.0
53         dar es salaam      TZ  -6.8235   39.2695      83.0
79   santa maria del rio      MX  21.8000 -100.7500      16.0
99      puerto escondido      MX  15.8500  -97.0667      64.0
104               rivera      UY -30.9053  -55.5508      29.0
121            bathsheba      BB  13.2167  -59.5167      86.0
122            inhambane      MZ -23.8650   35.3833      88.0
164                bowen      AU -20.0167  148.2333      58.0
190          farafangana      MG -22.8167   47.8333      86.0
208              wahiawa      US  21.5028 -158.0236      68.0
219               carmen      MX  18.6333  -91.8333      65.0
220           georgetown      MY   5.4112  100.3354      95.0
223               manado      ID   1.4870  124.8455      94.0
224       cabo san lucas      MX  22.8909 -109.9124      60.0
226               ouadda      CF   8.0777   22.4007      28.0
238                 atar      MR  20.5169  -13.0499      29.0
260           hervey bay      AU -25.2986  152.8535      70.0
265                nioro      GM  13.3500  -15.7500      40.0
285               jiwani      PK  25.0500   61.7417      69.0
310              yeppoon      AU -23.1333  150.7333      62.0
323         vangaindrano      MG -23.3500   47.6000      91.0
334       cap malheureux      MU -19.9842   57.6142      76.0
335               makaha      US  21.4694 -158.2175      57.0
338            san pedro      PH  14.3500  121.0167      82.0
369               ixtapa      MX  20.7000 -105.2000      73.0
395            gorontalo      ID   0.5412  123.0595      92.0
425                buala      SB  -8.1450  159.5921      72.0
436              hualmay      PE -11.0964  -77.6139      74.0
456              cayenne      GF   4.9333  -52.3333      94.0
468               nsanje      MW -16.9200   35.2620      58.0
499      lazaro cardenas      MX  17.9583 -102.2000      68.0
506          providencia      MX  28.7167 -111.5833      39.0
507       port macquarie      AU -31.4333  152.9167      68.0
518              djougou      BJ   9.7085    1.6660      15.0
528            manjacaze      MZ -24.7117   33.8828      95.0
533            taoudenni      ML  22.6783   -3.9836      31.0
543                praia      CV  14.9215  -23.5087      68.0
545              guhagar      IN  17.4842   73.1929      63.0
572                kyabe      TD   9.4515   18.9449      22.0
578                 doha      QA  25.2867   51.5333      73.0
596                largo      US  27.9095  -82.7873      70.0
602                adrar      MR  20.5022  -10.0711      28.0

In [20]:

hotel = []
hotel_df

for index, row in hotel_df.iterrows():
    location = str(row["Lat"]) + "," + str(row["Lng"])
    params = {
    "location": location,
    "keyword": "hotel",
    "radius": "5000",
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    # Start try except incase a hotel cannot be located nearby
    # extract results
    
    try:
        response = requests.get(base_url, params=params).json()
        results = response['results']
        #hotel.append(response["results"][0]["name"])
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    
    except:
        hotel.append("None Nearby")

C:\Users\AdminLocal\AppData\Local\Temp\ipykernel_9744\3798325744.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

In [21]:
# see the new dataframe
hotel_df

,City,Country,Lat,Lng,Humidity,Hotel Name
29,cidreira,BR,-30.1811,-50.2056,89.0,Pousada Vila Di Italy
41,pasni,PK,25.2631,63.4710,48.0,Juddi Hotel
47,chuy,UY,-33.6971,-53.4616,77.0,Hotel Internacional
49,sur,OM,22.5667,59.5289,58.0,Sur Grand Hotel
53,dar es salaam,TZ,-6.8235,39.2695,83.0,"Hyatt Regency Dar es Salaam, The Kilimanjaro"
79,santa maria del rio,MX,21.8000,-100.7500,16.0,Hotel JardÃ­n
99,puerto escondido,MX,15.8500,-97.0667,64.0,Posada Real Puerto Escondido
104,rivera,UY,-30.9053,-55.5508,29.0,Frontier Hotel
121,bathsheba,BB,13.2167,-59.5167,86.0,Atlantis Hotel
122,inhambane,MZ,-23.8650,35.3833,88.0,Hotel Casa Do CapitÃ£o
164,bowen,AU,-20.0167,148.2333,58.0,Whitsunday Sands Resort
190,farafangana,MG,-22.8167,47.8333,86.0,Tsaravatsy Hotel
208,wahiawa,US,21.5028,-158.0236,68.0,The Inn At Schofield
219,carmen,MX,18.6333,-91.8333,65.0,Hyatt Place Ciudad Del Carmen
220,georgetown,MY,5.4112,100.3354,95.0,SAVV Hotel
223,manado,ID,1.4870,124.8455,94.0,Four Points by Sheraton Manado
224,cabo san lucas,MX,22.8909,-109.9124,60.0,Solmar Resort
226,ouadda,CF,8.0777,22.4007,28.0,NaN
238,atar,MR,20.5169,-13.0499,29.0,Hotel al waha
260,hervey bay,AU,-25.2986,152.8535,70.0,Oaks Hervey Bay Resort and Spa
265,nioro,GM,13.3500,-15.7500,40.0,NaN
285,jiwani,PK,25.0500,61.7417,69.0,Hooth Market
310,yeppoon,AU,-23.1333,150.7333,62.0,Salt Yeppoon
323,vangaindrano,MG,-23.3500,47.6000,91.0,Hotel Fanilo
334,cap malheureux,MU,-19.9842,57.6142,76.0,Paradise Cove Boutique Hotel
335,makaha,US,21.4694,-158.2175,57.0,Hawaiian Princess Resort
338,san pedro,PH,14.3500,121.0167,82.0,Takara Hotel & Events Place
369,ixtapa,MX,20.7000,-105.2000,73.0,City Express Plus Puerto Vallarta
395,gorontalo,ID,0.5412,123.0595,92.0,Maqna Hotel by Prasanthi
425,buala,SB,-8.1450,159.5921,72.0,Ghaseali Island Resort
436,hualmay,PE,-11.0964,-77.6139,74.0,La Suite De Angelique - Huacho
456,cayenne,GF,4.9333,-52.3333,94.0,Guyane HÃ´tel
468,nsanje,MW,-16.9200,35.2620,58.0,Nsanje Discovery Lodge
499,lazaro cardenas,MX,17.9583,-102.2000,68.0,Baymont by Wyndham Lazaro Cardenas
506,providencia,MX,28.7167,-111.5833,39.0,NaN
507,port macquarie,AU,-31.4333,152.9167,68.0,Motel Mid Pacific
518,djougou,BJ,9.7085,1.6660,15.0,HOTEL CATHAS
528,manjacaze,MZ,-24.7117,33.8828,95.0,Hotel Mazino
533,taoudenni,ML,22.6783,-3.9836,31.0,NaN
543,praia,CV,14.9215,-23.5087,68.0,Hotel Oasis Atlantico Praiamar
545,guhagar,IN,17.4842,73.1929,63.0,"Mango Village, Guhagar"
572,kyabe,TD,9.4515,18.9449,22.0,NaN
578,doha,QA,25.2867,51.5333,73.0,Hyatt Regency Oryx Doha
596,largo,US,27.9095,-82.7873,70.0,Hampton Inn & Suites Largo
602,adrar,MR,20.5022,-10.0711,28.0,NaN

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# Create gmaps figure variables
fig_3 = gmaps.figure(center = [0,0] ,zoom_level = 2)

# Add heatlayer
heat_layer = gmaps.heatmap_layer(coordinates, weights= new["Humidity"].astype(float),max_intensity = 100, dissipating=False, point_radius=2)
fig_3.add_layer(heat_layer)

# Add markers and info box
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig_3.add_layer(markers)

#print the figure
fig_3

Figure(layout=FigureLayout(height='420px'))